name: "Dependency Review"

on:
  pull_request:
    branches: [ "main", "master", "vikshith-hg-c-aboutme" ]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          # Fail the action if there are vulnerabilities with severity high or critical
          fail-on-severity: high
          # Warn on moderate vulnerabilities
          warn-on-severity: moderate
